@model IEnumerable<Settimana_3_Manuel.Models.Order>

<h1>My Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Address</th>
            <th>Processed</th>
            <th>Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Date</td>
                <td>@order.Address</td>
                <td>@(order.Processed ? "Processed" : "waiting")</td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderProducts)
                        {
                            <li>@item.Product.Name - Quantity: @item.Quantity</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
